# Node
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/

# Databases
*.db
*.sqlite3

# Environment
.env
.env.local
.env.*.local

# IDEs / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
